.welcome-section {
    background-image: url('https://th.bing.com/th/id/R.25980f017f427da10d10c7a5b31ab5e2?rik=ytYgFtgMdbpgrw&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: white;
    text-align: center;
    position: relative;
  }
  
  .welcome-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .welcome-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .welcome-content p {
    font-size: 1.2em;
  }
  